<p>Are you sure you would like to delete the comment "<%=@review['review']%>" ?</p>

<form action="/reviews/<%=@review['id']%>/delete" method='post'>
    <button type="submit">Delete</button>
</form> 