
<div class="create_new_product">
    <h2>Create new product</h2>
    <form action="/products/create" method='post' enctype="multipart/form-data">
        Name: <input type="text" name='name'></input> <br> <br>
        Description: <input type="text" name='description'></input><br><br>
        Price: <input type="number" name='price'></input><br><br>
        Image: <input type="file" name='file'></input><br><br>
        <button type="submit">Create product</button>
    </form>
</div>