<div class="login">
    <form action="/user/login" method='post'>
        Username: <input type="text" name='username'></input> <br> <br>
        Password: <input type="text" name='password'></input><br><br>
        <button type="submit">Log in</button>
    </form>
</div>