<div class="login">
    <form action="/user/login/admin" method='post'>
        Username: <input type="text" name='username' placeholder='Username' required></input> <br> <br>
        Password: <input type="password" name='password' placeholder='Password'></input><br><br>
        <button type="submit">Log in as Admin</button>
    </form>
</div>
